In [61]:
import numpy as np

# Data Exploring

In [62]:
data = np.genfromtxt('../data/raw/BankChurners.csv', delimiter=',',
                     encoding='utf8', dtype=str)
data = np.array([[cell.replace('"', '') for cell in row] for row in data])
header = data[0]
data = data[1:]
print("Columns name:")
for i, h in enumerate(header):
    print(f'[{i}] {h}')

Columns name:
[0] CLIENTNUM
[1] Attrition_Flag
[2] Customer_Age
[3] Gender
[4] Dependent_count
[5] Education_Level
[6] Marital_Status
[7] Income_Category
[8] Card_Category
[9] Months_on_book
[10] Total_Relationship_Count
[11] Months_Inactive_12_mon
[12] Contacts_Count_12_mon
[13] Credit_Limit
[14] Total_Revolving_Bal
[15] Avg_Open_To_Buy
[16] Total_Amt_Chng_Q4_Q1
[17] Total_Trans_Amt
[18] Total_Trans_Ct
[19] Total_Ct_Chng_Q4_Q1
[20] Avg_Utilization_Ratio
[21] Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1
[22] Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2

In [63]:
print("Number of row: ", len(data))
print("Number of colum:", len(header))
print("First 5 rows: ")
print(data[:5])

Number of row:  10127
Number of colum: 23
First 5 rows:
[['768805383' 'Existing Customer' '45' 'M' '3' 'High School' 'Married'
  '$60K - $80K' 'Blue' '39' '5' '1' '3' '12691' '777' '11914' '1.335'
  '1144' '42' '1.625' '0.061' '9.3448e-05' '0.99991']
 ['818770008' 'Existing Customer' '49' 'F' '5' 'Graduate' 'Single'
  'Less than $40K' 'Blue' '44' '6' '1' '2' '8256' '864' '7392' '1.541'
  '1291' '33' '3.714' '0.105' '5.6861e-05' '0.99994']
 ['713982108' 'Existing Customer' '51' 'M' '3' 'Graduate' 'Married'
  '$80K - $120K' 'Blue' '36' '4' '1' '0' '3418' '0' '3418' '2.594' '1887'
  '20' '2.333' '0' '2.1081e-05' '0.99998']
 ['769911858' 'Existing Customer' '40' 'F' '4' 'High School' 'Unknown'
  'Less than $40K' 'Blue' '34' '3' '4' '1' '3313' '2517' '796' '1.405'
  '1171' '20' '2.333' '0.76' '0.00013366' '0.99987']
 ['709106358' 'Existing Customer' '40' 'M' '3' 'Uneducated' 'Married'
  '$60K - $80K' 'Blue' '21' '5' '1' '0' '4716' '0' '4716' '2.175' '816'
  '28' '2.5' '0' '2.1676e-05' '0.99998']]

In [64]:
customer_age = data[:,2].astype(int)
dependent_count = data[:,4].astype(int)

print(f"Attrition Flag: {np.unique(data[:, 1])}")

print(f"Gender: {np.unique(data[:, 3])}")

print(f"Education Level: {np.unique(data[:, 5])}")

print(f"Marital_Status: {np.unique(data[:, 6])}")

print(f"Income Category: {np.unique(data[:, 7])}")

print(f"Card Category: {np.unique(data[:, 8])}")

Attrition Flag: ['Attrited Customer' 'Existing Customer']
Gender: ['F' 'M']
Education Level: ['College' 'Doctorate' 'Graduate' 'High School' 'Post-Graduate'
 'Uneducated' 'Unknown']
Marital_Status: ['Divorced' 'Married' 'Single' 'Unknown']
Income Category: ['$120K +' '$40K - $60K' '$60K - $80K' '$80K - $120K' 'Less than $40K'
 'Unknown']
Card Category: ['Blue' 'Gold' 'Platinum' 'Silver']

In [65]:
print(f"Customer Age: {customer_age.min()} - {customer_age.max()}")

print(f"Dependent Count: {dependent_count.min()} - {dependent_count.max()}")

for i, name_col in enumerate(header[9:]):
    value = data[:, i + 9].astype(float)
    print(f'{name_col.replace("_", " ")}: {value.min():.2f} - {value.max():.2f}')

Customer Age: 26 - 73
Dependent Count: 0 - 5
Months on book: 13.00 - 56.00
Total Relationship Count: 1.00 - 6.00
Months Inactive 12 mon: 0.00 - 6.00
Contacts Count 12 mon: 0.00 - 6.00
Credit Limit: 1438.30 - 34516.00
Total Revolving Bal: 0.00 - 2517.00
Avg Open To Buy: 3.00 - 34516.00
Total Amt Chng Q4 Q1: 0.00 - 3.40
Total Trans Amt: 510.00 - 18484.00
Total Trans Ct: 10.00 - 139.00
Total Ct Chng Q4 Q1: 0.00 - 3.71
Avg Utilization Ratio: 0.00 - 1.00
Naive Bayes Classifier Attrition Flag Card Category Contacts Count 12 mon Dependent count Education Level Months Inactive 12 mon 1: 0.00 - 1.00
Naive Bayes Classifier Attrition Flag Card Category Contacts Count 12 mon Dependent count Education Level Months Inactive 12 mon 2: 0.00 - 1.00

In [66]:
print(f"Missing Value: {sum(data[data == ''])}") # data dtype is string

Missing Value: 0

# Visualization